<h1>AOT ahead of time compiling</h1>
<p>
  faster rending: with AOT, the brower downloads the pre-compiled version of the
  app, the brower render the application immediately without waiting to compile
  the app first
</p>
<p>
  Fewer asynchronous requests: the compiler <strong>inlines</strong> the
  external html and CSS into the JS file, eliminating separate ajax requests for
  those files
</p>
<p>Detect template errors earlier</p>
<p>Better security: The compiler compiles HTML templates and components into js files. it minimise the risks for injection attacks</p>
<p>Compile TypeScript into JS </p>
