
<p>

  <button class="btn btn-info" (click)="onSkip()">Click to start skip operator  console.log</button>
</p>



<p>

  <button class="btn btn-info" (click)="onSkipLast()">Click to start skiplast operator  console.log</button>
</p>


<p>

  <button class="btn btn-success" id="btnSkipUntil">Click to start show the data via skipUntil operator (button click1) </button>

</p>
data received:
<div *ngFor="let number of numbers">{{number}}</div>
<p>

  <button class="btn btn-info" (click)="onSkipWhile()">Click to start skipWhile operator  console.log</button>
</p>
