
<button class="btn btn-primary" (click)="onTake()">Click to see the TAKE example in console.log</button>
<br/><br/>
<button class="btn btn-warning" (click)="onTakeLast()">Click to see the TAKELAST example in console.log</button>

<br/><br/>

<button class="btn btn-dark" (click)="onStartInterval()">Click to start the interval console.log</button>
<button class="btn btn-dark" id='btnTakeUntil'>Click to see the TakeUntil operator in console.log</button>

<br/><br/>

<button class="btn btn-info" (click)="onTakeWhile()">Click to start takeWhile operator  console.log</button>
