<div class="container">
  <div class="row ">
    <div class="col-3 border">
      <!-- <h2 class="text text-primary float-start">Angular General</h2> -->
      <ul class="navbar-nav mr-auto">
         <li class="nav-item"><a class="nav-link" routerLink="">home</a></li>
         <li class="nav-item">
          <a class="nav-link" routerLink="attribute-binding/"
            >attribute binding</a
          >
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="build-in-pipe/">build in pipe</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="event-binding/">event binding</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="interpolation/">interpolation</a>
        </li>
         <li class="nav-item"><a class="nav-link" routerLink="ng-class/">ng-class</a></li>
         <li class="nav-item"><a class="nav-link" routerLink="ng-for/">ng-for</a></li>
         <li class="nav-item"><a class="nav-link" routerLink="ng-style/">ng-style</a></li>
         <li class="nav-item">
          <a class="nav-link" routerLink="property-binding/"
            >property binding</a
          >
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="two-way-data-binding/"
            >two way data binding</a
          >
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="parameterized-route/29/chen"
            >parameterized route</a
          >
        </li>
        <!--  <li class="nav-item"><a class="nav-link" [routerLink]='strQuery'>query parameter route</a></li> -->
         <li class="nav-item">
          <a class="nav-link" routerLink="xdfasdfa">widecard route</a>
        </li>
         <li class="nav-item"><a class="nav-link" routerLink="products">parent route</a></li>
         <li class="nav-item">
          <a class="nav-link" routerLink="products/add"
            >children route 1</a
          >
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="products/edit/10"
            >children route 2</a
          >
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="orders"
            >lazy loading order module</a
          >
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="orders/detail/1"
            >other module route</a
          >
        </li>
         <li class="nav-item"><a class="nav-link" routerLink="admin">route guard</a></li>
         <li class="nav-item">
          <a class="nav-link" routerLink="users/login"
            >template driven form</a
          >
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="users/checkout">reactive form</a>
        </li>

         <li class="nav-item"><a class="nav-link" routerLink="observable">observable</a></li>

         <li class="nav-item">
          <a class="nav-link" routerLink="contact"
            >service with http calls (crud) intercepter</a
          >
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="aot">Ahead of time compiling</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="enviorment"
            >serve in different enviorment</a
          >
        </li>

         <li class="nav-item">
          <a class="nav-link" routerLink="orders/list">CRUD</a>
        </li>

         <li class="nav-item">
          <a class="nav-link" routerLink="products/view-all"
            >CRUD products</a
          >
        </li>
      </ul>
    </div>
    <div class="col-5 border">
      <h2 class="text text-success">rxjs learning</h2>
      <ul class="navbar-nav mr-auto d-none d-md-block">
         <li class="nav-item">
          <a
            class="nav-link"
            routerLink="rxjs/convert-variables-to-observable"
            >1 convert variables (array,promise and event)
            to a observable</a
          >
        </li>

         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/create-custom-observable"
            >2 create custom observable</a
          >
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/function-vs-observable"
            >3 function vs observable</a
          >
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/cancel-subscription-of-observable"
            >4 cancel subscription of observable</a
          >
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/operator"
            >5 operators (pipe operators, created operators)</a
          >
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/buffer-operator"
            >6 Operator transformation category:Buffer</a
          >
        </li>

         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/take-operator"
            >7 Operator Filtering category:Take</a
          >
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/skip-operator"
            >8 Operator Filtering category:Skip</a
          >
        </li>

         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/distinct-operator"
            >9 Operator Filtering category:Distinct</a
          >
        </li>

         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/filter-operator"
            >10 Operator Filtering category:Filter</a
          >
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/sample-operator"
            >11 Operator Filtering category:sample and audit Operator</a
          >
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/first-last-operator"
            >12 Operator Filtering category:first,last Operator</a
          >
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/debounce-operator"
            >13 Operator Filtering category:debounce,elementAt,<br>
            ignoreElements,single</a
          >
        </li>

         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/map-operator"
            >14 Operator Filtering category:Map,MapTo</a
          >
        </li>


         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/ajax-operator"
            >15 Operator Creation Category:ajax, higher order <br> mapping operator(mergeMap),concatMap, exhaustMap，switchMap</a
          >
        </li>


         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/subject"
            >16.1 multicasting with subject,behavior subject,replay Subject,
            <br/>async subject, void subject, behavior subject, connectable observable</a
          >
        </li>

         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/cold-vs-hot-operator"
            >16.2 cold vs hot operator</a
          >
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/catch-error-operator"
            >17 catch error,retry,retrywhen operator</a
          >
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/join-combine-operator"
            >18 join, combine, concat,fork Join,partition <br/>
            race,zip operators</a
          >
        </li>

        <!--  <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/learning">learning</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/of-operator">of operator</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/from-operator"
            >from operator</a
          >
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/fromEvent-operator"
            >fromEvent operator</a
          >
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/interval-operator">
            interval and count operator</a
          >
        </li>

         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/debounce-time-operator"
            >debounce-time,filter operator</a
          >
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/take-takeWhile-operator"
            >take,takeWhile, takeLast operator</a
          >
        </li>
         <li class="nav-item">
          <a
            class="nav-link"
            routerLink="rxjs/first-last-elementAt-operator"
            >first,last,elementAt,distinct and skip Operator</a
          >
        </li>

         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/min-max-operator"
            >min, max, mixed with above operators</a
          >
        </li> -->
      </ul>
    </div>
    <div class="col-4 border-1">

      <h2 class="text text-success">rxjs learning</h2>
      <ul class="navbar-nav mr-auto">
         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/scheduler-operator"
            >19 RxJS Schedulers. Learn Async, Asap,<br/> Queue Schedulers in the RxJS Observables.</a
          >
        </li>

         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/creation-operator"
            >20 creation observables:defer,range</a
          >
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/count-operator"
            >21 count,max,min,reduce operator</a
          >
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/condition-boolean-operator"
            >22 conditioin and boolean operator:isEmpty,findIndex,find,defaultIfEmpty</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="rxjs/utility-operator"
            >23 utility-operator:toArray,materialize</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
