<div class="container">
  <div class="row ">
    <div class="col-4 border">
      <h2 class="text text-primary float-start">Angular General Knowledge</h2>
      <ul>
        <li><a class="dropdown-item" routerLink="">home</a></li>
        <li>
          <a class="dropdown-item" routerLink="attribute-binding/"
            >attribute binding</a
          >
        </li>
        <li>
          <a class="dropdown-item" routerLink="build-in-pipe/">build in pipe</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="event-binding/">event binding</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="interpolation/">interpolation</a>
        </li>
        <li><a class="dropdown-item" routerLink="ng-class/">ng-class</a></li>
        <li><a class="dropdown-item" routerLink="ng-for/">ng-for</a></li>
        <li><a class="dropdown-item" routerLink="ng-style/">ng-style</a></li>
        <li>
          <a class="dropdown-item" routerLink="property-binding/"
            >property binding</a
          >
        </li>
        <li>
          <a class="dropdown-item" routerLink="two-way-data-binding/"
            >two way data binding</a
          >
        </li>
        <li>
          <a class="dropdown-item" routerLink="parameterized-route/29/chen"
            >parameterized route</a
          >
        </li>
        <!-- <li><a class="dropdown-item" [routerLink]='strQuery'>query parameter route</a></li> -->
        <li>
          <a class="dropdown-item" routerLink="xdfasdfa">widecard route</a>
        </li>
        <li><a class="dropdown-item" routerLink="products">parent route</a></li>
        <li>
          <a class="dropdown-item" routerLink="products/add"
            >children route 1</a
          >
        </li>
        <li>
          <a class="dropdown-item" routerLink="products/edit/10"
            >children route 2</a
          >
        </li>
        <li>
          <a class="dropdown-item" routerLink="orders"
            >lazy loading order module</a
          >
        </li>
        <li>
          <a class="dropdown-item" routerLink="orders/detail/1"
            >other module route</a
          >
        </li>
        <li><a class="dropdown-item" routerLink="admin">route guard</a></li>
        <li>
          <a class="dropdown-item" routerLink="users/login"
            >template driven form</a
          >
        </li>
        <li>
          <a class="dropdown-item" routerLink="users/checkout">reactive form</a>
        </li>

        <li><a class="dropdown-item" routerLink="observable">observable</a></li>

        <li>
          <a class="dropdown-item" routerLink="contact"
            >service with http calls (crud)<BR /> intercepter</a
          >
        </li>
        <li>
          <a class="dropdown-item" routerLink="aot">Ahead of time compiling</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="enviorment"
            >serve in different enviorment</a
          >
        </li>

        <li>
          <a class="dropdown-item" routerLink="orders/list">CRUD</a>
        </li>

        <li>
          <a class="dropdown-item" routerLink="products/view-all"
            >CRUD products</a
          >
        </li>
      </ul>
    </div>
    <div class="col-5">
      <h2 class="text text-success">rxjs learning</h2>
      <ul>
        <li>
          <a
            class="dropdown-item"
            routerLink="rxjs/convert-variables-to-observable"
            >1 convert variables (array,promise and event)<br />
            to a observable</a
          >
        </li>

        <li>
          <a class="dropdown-item" routerLink="rxjs/create-custom-observable"
            >2 create custom observable</a
          >
        </li>
        <li>
          <a class="dropdown-item" routerLink="rxjs/function-vs-observable"
            >3 function vs observable</a
          >
        </li>
        <li>
          <a class="dropdown-item" routerLink="rxjs/cancel-subscription-of-observable"
            >4 cancel subscription of observable</a
          >
        </li>
        <li>
          <a class="dropdown-item" routerLink="rxjs/operator"
            >5 operators (pipe operators, created operators)</a
          >
        </li>
        <li>
          <a class="dropdown-item" routerLink="rxjs/buffer-operator"
            >6 Operator transformation category:Buffer</a
          >
        </li>

        <li>
          <a class="dropdown-item" routerLink="rxjs/take-operator"
            >7 Operator Filtering category:Take</a
          >
        </li>
        <li>
          <a class="dropdown-item" routerLink="rxjs/skip-operator"
            >8 Operator Filtering category:Skip</a
          >
        </li>
        <li>
          <a class="dropdown-item" routerLink="rxjs/learning">learning</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="rxjs/of-operator">of operator</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="rxjs/from-operator"
            >from operator</a
          >
        </li>
        <li>
          <a class="dropdown-item" routerLink="rxjs/fromEvent-operator"
            >fromEvent operator</a
          >
        </li>
        <li>
          <a class="dropdown-item" routerLink="rxjs/interval-operator">
            interval and count operator</a
          >
        </li>

        <li>
          <a class="dropdown-item" routerLink="rxjs/debounce-time-operator"
            >debounce-time,filter operator</a
          >
        </li>
        <li>
          <a class="dropdown-item" routerLink="rxjs/take-takeWhile-operator"
            >take,takeWhile, takeLast operator</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="rxjs/first-last-elementAt-operator"
            >first,last,elementAt,distinct and skip Operator</a
          >
        </li>

        <li>
          <a class="dropdown-item" routerLink="rxjs/min-max-operator"
            >min, max, mixed with above operators</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
