<div class="container">
  <div class="row">
    <div class="col-4">
      <ul>
        <li><a class="dropdown-item" routerLink="attribute-binding/">attribute binding</a></li>
        <li><a class="dropdown-item" routerLink="build-in-pipe/">build in pipe</a></li>
        <li><a class="dropdown-item" routerLink="event-binding/">event binding</a></li>
        <li><a class="dropdown-item" routerLink="interpolation/">interpolation</a></li>
        <li><a class="dropdown-item" routerLink="ng-class/">ng-class</a></li>
        <li><a class="dropdown-item" routerLink="ng-for/">ng-for</a></li>
        <li><a class="dropdown-item" routerLink="ng-style/">ng-style</a></li>
        <li><a class="dropdown-item" routerLink="property-binding/">property binding</a></li>
        <li><a class="dropdown-item" routerLink="two-way-data-binding/">two way data binding</a></li>
        <li><a class="dropdown-item" routerLink="parameterized-route/29/chen">parameterized route</a></li>
        <li><a class="dropdown-item" [routerLink]='strQuery'>query parameter route</a></li>

      </ul>
    </div>
    <div class="col-8">

    <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!-- <app-build-in-pipe></app-build-in-pipe> -->


<!-- <app-ng-for></app-ng-for> -->
<!-- <app-ng-style></app-ng-style>
<app-ng-class></app-ng-class> -->
<!--
<app-interpolation></app-interpolation> -->

<!-- <app-property-binding></app-property-binding> -->
<!--
<app-attribute-binding></app-attribute-binding> -->
<!-- <app-event-binding></app-event-binding>
 -->
<!-- <app-two-way-data-binding></app-two-way-data-binding> -->


