
<div class="container-fluid ">
  <div class="row">
    <div class="col-12 border">
     <span class="text-center"> <h1>Angular Example</h1></span>

    </div>
  </div>
  <div class="row">
    <div class="col-7 border" >
      <app-left-menu></app-left-menu>
    </div>
    <div class="col-5 border p-2">

    <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!-- <app-build-in-pipe></app-build-in-pipe> -->


<!-- <app-ng-for></app-ng-for> -->
<!-- <app-ng-style></app-ng-style>
<app-ng-class></app-ng-class> -->
<!--
<app-interpolation></app-interpolation> -->

<!-- <app-property-binding></app-property-binding> -->
<!--
<app-attribute-binding></app-attribute-binding> -->
<!-- <app-event-binding></app-event-binding>
 -->
<!-- <app-two-way-data-binding></app-two-way-data-binding> -->


