<h1>Thank You Thank You Mighty God</h1>

<button class="btn btn-success" (click)="getFirstWord()"> Get first word of above pray</button> :{{firstWord}}

<br/>
<br/>
<br/>

<button class="btn btn-warning" (click)="getLastWord()">Get last word of above pray</button> :{{lastWord}}
<br/>
<br/>
<br/>
<button class="btn btn-danger" (click)="getWordAt()">Get third word of above pray</button> :{{wordAt}}
<br/>
<br/>
<br/>
<button class="btn btn-primary" (click)="getDistinct()">Get distinct words of above pray and then skip first 2 words<br/> (check console log for the result)</button> :{{distinctWords}}
