<p><button class="btn btn-outline-primary" (click)="useSubject()">
  click to see subject multicasting to two observers at same time
</button>
</p>

<p><button class="btn btn-outline-success" (click)="usebehaviorSubject()">
  click to see behavior subject multicasting to two observers at same time
</button>
</p>

<p><button class="btn btn-outline-dark" (click)="usereplaySubject()">
  click to see replay subject multicasting to two observers at different times
</button>
</p>

<p><button class="btn btn-outline-dark" (click)="useAsyncSubject()">
  click to see Async subject multicasting to two observers the last data once the observable finished
</button>
</p>


<p><button class="btn btn-outline-warning" (click)="useVoidSubject()">
  click to see void subject multicasting to two observers witout data
</button>
</p>
<p><button class="btn btn-outline-danger" (click)="useBehaviorSubject()">
  click to see multicasting to two observers with connectable observables along with behavior subject
</button>
</p>

<p><button class="btn btn-outline-primary" (click)="useAsynSubjectInConnectable()">
  click to see multicasting last emitted data to two observers with connectable observables along with aysnc subject
</button>
</p>
<p><button class="btn btn-outline-success" (click)="useReplaySubjectInConnectable()">
  click to see multicasting replay emitted data to later subscribed observers with connectable observables along with replay subject
</button>
</p>
<br />
<br />

<br />
<div class="row">
  <div class="col-6">
    <div *ngIf="errorMessage1" class="text text-danger">error:{{ errorMessage1 }}</div>
    <div *ngIf="completeMessage1" class="text text-success">complete:{{ completeMessage1 }}</div>
    <div *ngFor="let n of outputSet1" class="text text-sm-start">
      {{ n|json }}
    </div>
  </div>
  <div class="col-6">
    <div *ngIf="errorMessage2" class="text text-danger">error:{{ errorMessage2 }}</div>
    <div *ngIf="completeMessage2" class="text text-success">complete:{{ completeMessage2 }}</div>
    <div *ngFor="let n of outputSet2" class="text text-sm-start">
      {{ n|json }}
    </div>
  </div>
</div>
