<p><button class="btn btn-outline-primary" (click)="useDefer()">
  click to use defer operator create a new observable when subscribe
</button>
</p>

<p><button class="btn btn-outline-warning" (click)="useRange()">
  click to use range operator to emit a observable start from a number and end after defined count
</button>
</p>
<p><button class="btn btn-outline-success" (click)="useGenerate()">
  click to use generate operator to emit a observable like forloop with initial value and condition
</button>
</p>

<p><button class="btn btn-outline-dark" (click)="useTimer()">
  click to use timer operator to control the first emit value time and the rest value emitting time
</button>
</p>




<br />
<br />

<br />
<div class="row">
  <div class="col-6">
    <div *ngIf="errorMessage1" class="text text-danger">error:{{ errorMessage1 }}</div>
    <div *ngIf="completeMessage1" class="text text-success">complete:{{ completeMessage1 }}</div>
    <div *ngFor="let n of outputSet1" class="text text-sm-start">
      {{ n|json }}
    </div>
  </div>
  <div class="col-6">
    <div *ngIf="errorMessage2" class="text text-danger">error:{{ errorMessage2 }}</div>
    <div *ngIf="completeMessage2" class="text text-success">complete:{{ completeMessage2 }}</div>
    <div *ngFor="let n of outputSet2" class="text text-sm-start">
      {{ n|json }}
    </div>
  </div>
</div>

