<div class="container">
  <h1>example of reactive from</h1>
  <h2>
    JSON.stringify() is very important to get object to string
  </h2>
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        name="emailField"
        formControlName="emailField"
      />
      <small
        id="emailHelp"
        class="form-text text-muted"
        *ngIf="f['emailField'].touched && f['emailField'].errors"
        >email is not valid</small
      >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Quantity</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Quantity"
        name="quantityField"
        formControlName="quantityField"
      />
      <small
        id="emailHelp"
        class="form-text text-muted"
        *ngIf="f['quantityField'].touched && f['quantityField'].errors"
        >enter the quantity</small
      >
    </div>
    <div class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="exampleCheck1"
        name="termField"
        formControlName="termField"
      />
      <small
        id="emailHelp"
        class="form-text text-muted"
        *ngIf="f['termField'].touched && f['termField'].errors"
        >check the term</small
      >
      <label class="form-check-label" for="exampleCheck1">agree to term</label>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Items</label>
      <div
        *ngFor="let item of items.controls; let i = index"
        formArrayName="items"
      >
        <div [formGroupName]="i">

      <span class="text-primary px-2"  (click)="removeItemAt(i)">Remove </span>
          <input type="text" class="form-control" formControlName="itemId">
          <input type="text" class="form-control" formControlName="itemName">
          <input type="text" class="form-control" formControlName="itemDesc">
          <input type="checkbox"  formControlName="itemDone">Mark as done
        </div>
      </div>
      <span class="text-primary px-2"  (click)="onResetItems()">Reset Items</span>

      <span class="text-primary px-2" (click)="addItem()">Add an Item</span>

    </div>

    <button
      type="submit"
      class="btn btn-primary mx-2"
      [disabled]="!checkoutForm.valid"
    >
      Submit
    </button>
    <button class="btn btn-primary" (click)="onReset()">Reset</button>
  </form>
</div>
