<p><button class="btn btn-outline-primary" (click)="useCombineLatest()">
  click to see combineLatest operator combine two observables
</button>
</p>

<p><button class="btn btn-outline-success" (click)="useConcat()">
  click to see concat operator combine two observables in order
</button>
</p>
<p><button class="btn btn-outline-warning" (click)="useForkJoin()">
  click to see concat operator combine mulitiple observables' last data together
</button>
</p>

<p><button class="btn btn-outline-danger" (click)="useMerage()">
  click to see merge operator to emit all observables' value until error happen
</button>
</p>
<p><button class="btn btn-outline-primary" (click)="usePartition()">
  click to see partition operator to divide source observable to two observable with custom requirement
</button>
</p>

<p><button class="btn btn-outline-success" (click)="useRace()">
  click to see race operator to only emit the observable who won the race
</button>
</p>

<p><button class="btn btn-outline-warning" (click)="useZip()">
  click to see zip operator to put multiple observables same index elements into corresponded array
</button>
</p>


<br />
<br />

<br />
<div class="row">
  <div class="col-6">
    <div *ngIf="errorMessage1" class="text text-danger">error:{{ errorMessage1 }}</div>
    <div *ngIf="completeMessage1" class="text text-success">complete:{{ completeMessage1 }}</div>
    <div *ngFor="let n of outputSet1" class="text text-sm-start">
      {{ n|json }}
    </div>
  </div>
  <div class="col-6">
    <div *ngIf="errorMessage2" class="text text-danger">error:{{ errorMessage2 }}</div>
    <div *ngIf="completeMessage2" class="text text-success">complete:{{ completeMessage2 }}</div>
    <div *ngFor="let n of outputSet2" class="text text-sm-start">
      {{ n|json }}
    </div>
  </div>
</div>
