



<form [formGroup]="contactForm" >

<div class="form-group">
  <label for="">First Name</label>
  <input type="text" class="form-control" name="firstName"  formControlName="firstName">
</div>
<div class="form-group">
  <label for="">Last Name</label>
  <input type="text" class="form-control"  name="lastName"  formControlName="lastName">



</div>
<button class="btn btn-success" (click)="onAddNewContact()">Add New Contact</button>
<button class="btn btn-success"  (click)="onUpdateContact(2)">update Contact 2</button>
<button class="btn btn-success"  (click)="deleteLastContact()">delete Last Contact</button>
<button class="btn btn-success"  (click)="getFirstContact()">get first Contact</button>

{{formMessage}}
</form>

<ul *ngFor="let contact of contacts">
  {{contact.firstName |uppercase }}  {{contact.lastName |uppercase }}
</ul>
