<form [formGroup]="rxjsForm">

  <div class="row">
    <div class="col-3">input without debounce time opt:</div>
    <div class="col-6"><input type="text" name="txtNoDebounce" formControlName="txtNoDebounce"></div>
    <div class="col-3">{{txtNoDebounceDisplay}}</div>
  </div>
  <div class="row">
    <div class="col-3">input with debounce time opt:</div>
    <div class="col-6"><input type="text" name="txtYesDebounce" formControlName="txtYesDebounce"></div>
    <div class="col-3">{{txtYesDebounceDisplay}}</div>
  </div>
</form>
